
h3 {
	font-size: 150%;
	text-align: center;
	margin-left: 20px;
	background-color: #F7FF00;
	width: 250px;
	padding-top: 25px;
	padding-bottom: 25px;

}

p {
	margin-bottom: 1px;
	margin-left: 20px;
	font-weight: bold;


}

.count1 {
	float: left;
	margin-left: 20px;
	margin-right: 0px
	margin-bottom: 5px;
	font-weight: bold;
	background-color: #5AFDFF;
	padding-bottom: 100px;
	padding-right: 80px;


}

.count2 {
	float: left;
	margin-left: 1px;
	margin-bottom: 5px;
	font-weight: bold;
	background-color: #FFAB33;
	padding-bottom: 100px;

}

.jewel1 {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	float:left;
	background-color: #F7F0F0;
	padding-top: 5px;
	padding-bottom: 75px;
	padding-left: 75px;
	padding-right: 75px;

}

.jewel2 {
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	background-color: #F7F0F0;
	padding-top: 5px;
	padding-bottom: 75px;
	padding-left: 75px;
	padding-right: 75px;
}

.jewel3 {
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	background-color: #F7F0F0;
	padding-top: 5px;
	padding-bottom: 75px;
	padding-left: 75px;
	padding-right: 75px;
}

.jewel4 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
	background-color: #F7F0F0;
	padding-top: 5px;
	padding-bottom: 75px;
	padding-left: 75px;
	padding-right: 75px;
}

.score1 {
	clear: left;
	margin-top: 1px;
	margin-left: 20px;
	margin-right: 1375px;
	font-weight: bold;
	background-color: #FF0000;
	padding-bottom: 10px;



}

.score2 {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 1375px;
	font-weight: bold;
	background-color: #04FF00;
	padding-bottom: 100px;


}