

body {
	background-image: url("http://static5.depositphotos.com/1000486/421/v/950/depositphotos_4216395-Background-from-varicoloured-jewels.jpg");

}

h3 {
	font-size: 150%;
	text-align: center;
	margin-left: 20px;
	background-color: #F7FF00;
	width: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 1px;
	margin-top: 5px;

}

p {
	margin-bottom: 1px;
	margin-left: 20px;
	margin-right: 75%;
	font-weight: bold;
	background-color: #FFAB00;
	margin-top: 3px;

}

h4 {
	margin-right: 0px;
	margin-left: 0px;
	width: 250px;
	padding-bottom: 150px;
	padding-right: 400%;
}

h5 {
	font-size: 25px;
}

img {
	margin-left: 20px;
	margin-right: 5px;
}

.gems {
	float: left;
    margin-right: 20px;
	margin-right: 950px;
	margin-left: 20px;
	width: 900px;
	height: 140px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.clearfix {
    overflow: auto;
}

#match {
	float: left;
	margin-left: 20px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 100px;
	font-weight: bold;
	font-size: 20px;
	background-color: #96FBFF;
	width: 250px;
}

.winsAndLosses {
	float: left;
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;	
    margin-right: 1300px;
    margin-left: 12px;
    border-right-width: 50px;
    padding-right: 85px;
    background-color: #F85EFF;


}

.userTotal {
	clear: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 1375px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 5px;
	background-color: #FF0000;
	padding-bottom: 15px;
	font-size: 25px;

}
